<launch>
    <param name="camera_description" command="$(find xacro)/xacro --inorder '$(find feedbot_gazebo)/models/realsense_camera/urdf/feedbot_camera.urdf.xacro'" />
    <node name="camera_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <remap from="robot_description" to="camera_description" />
        <remap from="joint_states" to="camera_joint_states" />
    </node>
</launch>
