<?xml version="1.0"?>
<robot name="feedbot_camera"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro">
    
    <xacro:include filename="$(find feedbot_gazebo)/models/realsense_camera/urdf/_d415.urdf.xacro" />

    <link name="feedbot_camera_base_link"/>

    <sensor_d415 parent="feedbot_camera_base_link">
       <origin xyz="0 0 0" rpy="0 0 0"/>
    </sensor_d415>
    
    <gazebo reference="feedbot_camera_base_link">
        <gravity>0</gravity>
        <sensor name="color" type="camera">
            <pose frame="camera_color_optical_frame">0 0 0 0 0 0</pose>
            <camera name="color">
              <horizontal_fov>1.047</horizontal_fov>
              <image>
                <width>640</width>
                <height>480</height>
                <format>RGB_INT8</format>
              </image>
              <clip>
                <near>0.1</near>
                <far>100</far>
              </clip>
              <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.005</stddev>
              </noise>
            </camera>
            <plugin name="color_camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>color</cameraName>
                <imageTopicName>/camera/color/image_raw</imageTopicName>
                <cameraInfoTopicName>/camera/color/camera_info</cameraInfoTopicName>
                <frameName>camera_color_optical_frame</frameName>
                <hackBaseline>0.55</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
            <always_on>1</always_on>
            <update_rate>30</update_rate>
        </sensor>

        <sensor name="depth" type="depth">
            <pose frame="camera_color_optical_frame">0 0 0 0 0 0</pose>
            <camera name="depth">
            <horizontal_fov>1.047</horizontal_fov>
            <image>
                <width>640</width>
                <height>480</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.1</near>
                <far>100</far>
            </clip>
            <depth_camera>
            </depth_camera>
            </camera>
            <plugin name="kinect_camera_controller" filename="libgazebo_ros_openni_kinect.so">
                <baseline>0.55</baseline>
                <alwaysOn>true</alwaysOn>
                <!-- Keep this zero, update_rate in the parent <sensor> tag
                    will control the frame rate. -->
                <updateRate>0.0</updateRate>
                <cameraName>depth</cameraName>
                <imageTopicName>/camera/depth_registered/image_raw</imageTopicName>
                <cameraInfoTopicName>/camera/depth_registered/camera_info</cameraInfoTopicName>
                <depthImageTopicName>/camera/depth_registered/image_raw</depthImageTopicName>
                <depthImageInfoTopicName>/camera/depth_registered/camera_info</depthImageInfoTopicName>
                <pointCloudTopicName>/camera/depth_registered/points</pointCloudTopicName>
                <frameName>camera_color_optical_frame</frameName>
                <pointCloudCutoff>0.3</pointCloudCutoff>
                <distortionK1>0</distortionK1>
                <distortionK2>0</distortionK2>
                <distortionK3>0</distortionK3>
                <distortionT1>0</distortionT1>
                <distortionT2>0</distortionT2>
                <CxPrime>0</CxPrime>
                <Cx>0</Cx>
                <Cy>0</Cy>
                <focalLength>0</focalLength>
                <hackBaseline>0</hackBaseline>
            </plugin>
            <update_rate>15</update_rate> <!-- don't know why I get twice the value in rostopic -->
            <always_on>1</always_on>
        </sensor>
    </gazebo>
</robot>
