<launch>

  <arg name="execute_on_niryo_one_raspberry_pi_image" value="false"/>
  <arg name="urdf_without_meshes" default="false" />
  <include file="$(find feedbot_bringup)/launch/niryo_one_base.launch" pass_all_args="true"/>
  
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="robot_name" default="feedbot"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find feedbot_gazebo)/worlds/feedbot.world"/>
    <arg name="verbose" value="true" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>   
  </include>
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="feedbot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model feedbot_niryo" respawn="false" />	
 
  <include file="$(find feedbot_bringup)/launch/controllers.launch">
    <arg name="simulation_mode" value="true" />
  </include>

    <!-- feedbot camera loading -->
  <param name="camera_description" command="$(find xacro)/xacro --inorder '$(find feedbot_gazebo)/models/realsense_camera/urdf/feedbot_camera.urdf.xacro'" />
  <param name="camera_holder_description" command="$(find xacro)/xacro --inorder '$(find feedbot_gazebo)/models/realsense_camera/urdf/camera_holder.urdf.xacro'" />
  <node name="camera_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="robot_description" to="camera_description" />
    <remap from="joint_states" to="feedbot_camera" />
  </node>
    
  <!-- this should be loaded from a file -->
  <arg name="x_camera" default="0.436"/>
  <arg name="y_camera" default="-0.260"/>
  <arg name="z_camera" default="0.118"/>
  <arg name="roll_camera" default="-0.021"/>
  <arg name="pitch_camera" default="-0.366"/>
  <arg name="yaw_camera" default="1.635"/>
  <node name="camera_spawn" pkg="gazebo_ros" type="spawn_model" args="-urdf -param camera_description -model feedbot_camera
                                                                      -x $(arg x_camera) -y $(arg y_camera) -z $(arg z_camera)
                                                                      -R $(arg roll_camera) -P $(arg pitch_camera) -Y $(arg yaw_camera)"/>
  <node name="camera_holder_spawn" pkg="gazebo_ros" type="spawn_model" args="-urdf -param camera_holder_description -model feedbot_camera_holder
                                                                      -x $(arg x_camera) -y $(arg y_camera)"/>
  







   
</launch>